body {
  margin: 0;
  font-family: 'B612 Mono', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'B612 Mono', monospace !important;
}
